.btn {
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
}

.selected {
    background-color: black;
    color: white;
    text-decoration: none;
}