.language-container {
    position: absolute;
    top: 10px;
    left: 10px;
    flex-direction: row;
}

@media (max-width: 768px) {
    .language-container {
        position: relative;
        margin-bottom: 2rem;
    }
}